.authorization-layout {
  height: 90vh;

  &__wrapper {
    padding: 3vh 3vw;
    background-color: var(--basic-white);
    border: 1px solid var(--authorization-border);
    border-radius: 5px;
  }
}
