.favourites-page {
  &__header {
    font-size: 1.75rem;
    font-weight: normal;
    margin-bottom: 40px;
  }
}

.favourite-query {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: var(--basic-white);
  border-bottom: 1px solid var(--favourite-query);
  cursor: pointer;

  &:hover {
    background-color: var(--favourite-query);
  }

  &__name {
    border-bottom: 1px solid transparent;
  }

  &__actions {
    display: none;
  }

  &:hover &__actions {
    display: flex;
    gap: 30px;
  }

  &__edit-action,
  &__delete-action {
    font-size: 0.875rem;
    line-height: 10 / 7rem;
    cursor: pointer;
    border-bottom: 1px solid transparent;
  }

  &__edit-action {
    color: var(--primary-color);
  }

  &__delete-action {
    color: var(--basic-red);
  }

  &__edit-action:hover,
  &__delete-action:hover {
    padding-bottom: 2px;
    padding-bottom: 0;
  }

  &__edit-action:hover {
    border-bottom-color: var(--primary-color);
  }

  &__delete-action:hover {
    border-bottom-color: var(--basic-red);
  }
}
