.navbar {
  display: flex;
  align-items: center;

  &__logo {
    width: 48px;
    height: 48px;
  }

  &__item {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 2vh 2vw;
    color: var(--primary-color);
    cursor: pointer;
  }

  &__link {
    border-bottom: 2px solid transparent;
  }

  &__link {
    &_active {
      color: var(--primary-color);
      border-bottom-color: var(--primary-color);
    }
  }

  &__item:last-child {
    margin-left: auto;
  }
}
