.search-result-page {
  padding: 4vh 2vw;

  &__header {
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-bottom: 1vh;
  }

  &__favorite-icon {
    font-size: 1.1rem;
    color: var(--primary-color) !important;
  }
}
