.search-result-page {
  padding: 4vh 2vw;

  &__header {
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-bottom: 1vh;
  }

  &__loading-icon {
    font-size: 40px !important;
  }

  &__loading-spin {
    margin-top: 20vh !important;
    width: 100%;
    margin: auto;
  }
}

.pop-over {
  &__favourite-icon {
    font-size: 1.1rem;
    color: var(--primary-color) !important;
  }

  &__notification {
    margin-bottom: 15px;
  }
}
