:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-red: #ff0000;
  --primary-color: #1390e5;
  --bg-color: #fafafa;
  --favourite-query: #f1f1f1;
  --light-gray: rgba(23, 23, 25, 0.3);
  --input-focus: rgba(197, 228, 249, 0.3);
  --authorization-border: rgba(39, 39, 39, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: Roboto, Oxygen, -apple-system, BlinkMacSystemFont, Segoe UI,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  font-size: 16px;
  overflow-y: scroll;
}
